.disc {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.paper{
    background-color: white;
    background-image: url('../images/icon-paper.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border: 20px solid $Paper-Gradient-2;
    border-radius: 50%;
    box-shadow: inset 0px 7px 0px 0px rgba(0,0,0,0.19),0px 7px 0px 0px $Paper-Gradient-1;
    position: relative;

    &:hover::after{
        content: 'paper';
        position: absolute;
        bottom: -40%;
        color: white;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
    }
}
.scissors{
    background-color: white;
    background-image: url('../images/icon-scissors.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border: 20px solid $Scissors-Gradient-2;
    border-radius: 50%;
    box-shadow: inset 0px 7px 0px 0px rgba(0,0,0,0.19),0px 7px 0px 0px $Scissors-Gradient-1;
    position: relative;

    &:hover::after{
        content: 'scissors';
        position: absolute;
        bottom: -40%;
        color: white;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
    }
}
.rock{
    grid-column: 1/ span 3;
    background-color: white;
    background-image: url('../images/icon-rock.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border: 20px solid $Rock-Gradient-2;
    border-radius: 50%;
    box-shadow: inset 0px 7px 0px 0px rgba(0,0,0,0.19),0px 7px 0px 0px $Rock-Gradient-1;
    position: relative;

    &:hover::after{
        content: 'rock';
        position: absolute;
        bottom: -40%;
        color: white;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
    }
}