@import './styling';

*,::after,::before{
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
}
.game-window{
    position:relative;
    width: 100%;
    min-height: 100vh;
    background-image: radial-gradient($Radial-Gradient);
    overflow: hidden;
    padding: 3rem 2rem;

    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.29);
    }
    .hide-overlay{
        display: none;
    }
    .modal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: white;
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        border-radius: 0.5rem;
        transition: all 0.5s ease-in-out;

        .modal-title{
            margin-bottom: 3rem;
            text-align: left;
            color: $Dark-Text;
        }
        .modal-icon{
            align-self: center;
        }
        .icon-close{
            position: absolute;
            right: 2rem;
            top: 2rem;
        }
    }
    .hide-modal{
        top: -100%;
    }

    .header{
        border: 3px solid $Header-Outline;
        border-radius: 1rem;
        width: 45rem;
        display: flex;
        margin: auto;
        padding: 1rem;
        justify-content: space-between;

        .score{
            padding: 0.75rem 0;
            width: 8rem;
            height: 6.5rem;
            background-color: white;
            border-radius: 0.75rem;
            text-align: center;

            h2{
                font-size: 1rem;
                letter-spacing: 0.2rem;
                color: $Score-Text;
            }
            p{
                font-size: 3.5rem;
                font-weight: bolder;
                color: $Dark-Text;
            }
        }
    }
}

@media screen and (max-width: 501px) {
    .game-window{
        .modal{
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            height: 100vh;
            align-items: center;
            border-radius: 0;
            justify-content: center;
            
            .modal-title{
                margin-bottom: 4rem;
            }
            .modal-icon{
                margin-bottom: 5rem;
            }
            .icon-close{
                position: relative;
                top: 0;
                right: 0;
            }
        }
        .hide-modal{
            transform: translateY(-110%);
        }
    }
}